*{
box-sizing:border-box;
}


body{

margin:0;

background:#050505;

color:white;

font-family:tahoma;

}


header{

height:65px;

background:#111;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 20px;

border-bottom:1px solid #d5aa32;

}


header img{

width:45px;

height:45px;

border-radius:50%;

}



.login-box,
.profile-box,
.settings-box{

width:90%;

max-width:420px;

margin:80px auto;

background:#111;

padding:30px;

border-radius:20px;

border:1px solid #d5aa32;

text-align:center;

}



input,
textarea,
select{

width:100%;

margin:10px 0;

padding:12px;

border-radius:10px;

background:#222;

color:white;

border:1px solid #555;

}



button{

background:#d5aa32;

color:#000;

border:0;

padding:12px 25px;

border-radius:20px;

cursor:pointer;

margin:8px;

font-weight:bold;

}



.avatar{

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;

border:3px solid #d5aa32;

}



a{

display:block;

margin-top:20px;

color:#ffd85a;

text-decoration:none;

}


/* چت */

.chat-area{

display:flex;

height:calc(100vh - 65px);

}


aside{

width:250px;

background:#111;

padding:20px;

}



.user{

padding:15px;

border-bottom:1px solid #333;

}



main{

flex:1;

display:flex;

flex-direction:column;

}


.messages{

flex:1;

padding:20px;

overflow:auto;

}



.message{

background:#222;

padding:12px;

border-radius:15px;

margin:10px;

max-width:70%;

}



.message.me{

background:#641a29;

margin-right:auto;

}



.send-box{

display:flex;

padding:10px;

background:#111;

gap:10px;

}



.send-box input{

flex:1;

}



@media(max-width:700px){

aside{

display:none;

}

}
